

<html>
  <head>
    <style>
      #map {
        height: 400px;
        width: 75%;
       }
    </style>
  </head>
  <body>
    <br/>
    <h1> <p class="title-profile"> Discover <i class="fa fa-cloud" aria-hidden="true" style="color:LightSkyBlue;"></i> </p> </h1>
      <div class=large-offset-2 large-10 centered columns>
        <div id="map"></div>
      </div>
    <script>

    function initMap() {

      var boston = {lat: 42.364506, lng: -71.038887};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: boston
      });

      var cords = <%= @coordinates.html_safe %>
      for( var i = 0; i < cords.length; i++){
        var latLng = new google.maps.LatLng(cords[i].lat, cords[i].long);
        let marker = new google.maps.Marker({
          position: latLng,
          animation: google.maps.Animation.DROP,
          map: map
        });

        // function bounce(marker) {
        //   if (marker.getAnimation() !== null) {
        //     marker.setAnimation(null);
        //   } else {
        //     marker.setAnimation(google.maps.Animation.BOUNCE);
        //   }
        // }
        var message = `${cords[i].name}`;
        function addInfoWindow(marker, message) {

            var infoWindow = new google.maps.InfoWindow({
                content: `<h4>${message}</h4>` + `${"hi"}`
            });

            google.maps.event.addListener(marker, 'click', function () {
                infoWindow.open(map, marker);
            });
        }

        // function toggleBounce() {
        //   bounce(marker)
        // }


        marker.addListener('click', addInfoWindow(marker, message));
        // marker.addListener('click', toggleBounce);
      }
    }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['API_KEY']%>&callback=initMap">
    </script>
  </body>
</html>

<%= @user.name  %>
<br/>
<br/>



      <% @locations.each do |item| %>
      <div class="large-3 large-centered columns medium-3 medium-centered columns">
        <div class="items_profile">
            <br/>
            <div class="box1"><img src="<%=item['cover_url']%>"/></div>
              <h4><div class="title_name"><%=item['name'] %></div></h4>
              <div class="delete"><%= link_to 'Delete',  location_path(user_id: @user.id, location_id: item.id), method: :delete %></div>
              <br/>
        </div>
      </div>

<% end  %>
