<h1>  ¯\_(ಥ‿ಥ)_/¯ </h1>


<html>
  <head>
    <style>
      #map {
        height: 400px;
        width: 75%;
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
      function initMap() {

        var boston = {lat: 42.364506, lng: -71.038887};
        // instance goes here html_safe
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: boston
        });
        var marker = new google.maps.Marker({
          position: boston,
          map: map
        });

        var cords = <%= @coordinates.html_safe %>
        for( var i = 0; i < cords.length; i++){
          console.log(cords[i])
          console.log(cords[i].lat)
          console.log(cords[i].long)
          var latLng = new google.maps.LatLng(cords[i].lat, cords[i].long);
          var marker = new google.maps.Marker({
            position: latLng,
            map: map
          });
        }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['MY_API_KEY']%>&callback=initMap">
    </script>
  </body>
</html>

<%= @user.name  %>
<br/>
<br/>


<% @locations.each do |item| %>
  <div class="items_profile">
      <br/>
      <div class="box1"><img src="<%=item['cover_url']%>"/></div>
        <h4><div class="title_name"><%=item['name'] %></div></h4>
        <div class="delete"><%= link_to 'Delete',  location_path(user_id: @user.id, location_id: item.id), method: :delete %></div>
        <br/>
  </div>
<% end  %>
