<h1>  ¯\_(ಥ‿ಥ)_/¯ </h1>


<html>
  <head>
    <style>
      #map {
        height: 400px;
        width: 75%;
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>

    function initMap() {

      var boston = {lat: 42.364506, lng: -71.038887};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: boston
      });

      var cords = <%= @coordinates.html_safe %>
      for( var i = 0; i < cords.length; i++){
        var latLng = new google.maps.LatLng(cords[i].lat, cords[i].long);
        let marker = new google.maps.Marker({
          position: latLng,
          animation: google.maps.Animation.DROP,
          map: map
        });

        function bounce(marker) {
          if (marker.getAnimation() !== null) {
            marker.setAnimation(null);
          } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
          }
        }

        function toggleBounce() {
          bounce(marker)
        }

        marker.addListener('click', toggleBounce);
      }
    }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['API_KEY']%>&callback=initMap">
    </script>
  </body>
</html>

<%= @user.name  %>
<br/>
<br/>


<% @locations.each do |item| %>
  <div class="items_profile">
      <br/>
      <div class="box1"><img src="<%=item['cover_url']%>"/></div>
        <h4><div class="title_name"><%=item['name'] %></div></h4>
        <div class="delete"><%= link_to 'Delete',  location_path(user_id: @user.id, location_id: item.id), method: :delete %></div>
        <br/>
  </div>
<% end  %>
