<h1> THIS IS WHERE I WANT TO SEE MY LIST OF ITEMS </h1>

<h1 class="title"> Adventure Awaits </hi>

<div class="search-forms">
  <!-- <p>
    <h3>Location: <%= text_field_tag :search, params[:search], placeholder: "Enter Location" %></h3>
    <h3>Activity: <%= text_field_tag :search, params[:search], placeholder: "Enter Thing" %></h3>
    <div class='text-center'><%= submit_tag "Search", name: nil%> </div>
  </p> -->

  <div class="form">
    <p>
      <%= form_tag('./locations', method: "get" ) do %>
      <%= text_field_tag :location, params[:location], placeholder: "Location" %> <br/>
      <%= text_field_tag :activity, params[:activity], placeholder: "Activity" %> <br/>
      <div class="discover"><%= submit_tag("Discover") %></div>
      <% end  %>
    </p>
  </div>



    <h1> <%= @location %> </h1>
    <h1> <%= @activity %> </h1>
    <h1> <%= @message %> </h1>

</div>




  <% if @location != nil && @activity != nil %>
    <h1> API data </h1>
  <% @data_object['businesses'].each do |x| %>
    <div class="items">
       <div class="box1"><img src="<%=x['image_url']%>"/></div>
       <h3><div class="title_name"> <%= x['name'] %></div></h3>
       <p>Rating:<%= x['rating'] %></p>
       <img src="<%=x['rating_img_url']%>"/>
        <p> Address: <%= x["location"]["display_address"].join(" ")%> </p>
        <p><a href="<%=x["url"]%>"/>Learn More</p>

        <%= button_to 'add to', {:controller => "locations", :action => "create", :name => x['name'], :rating => x['rating'], :cover_url => x['image_url'], :address => x["location"]["display_address"].join(" "), :rating_img_url => x['rating_img_url'], :url => x['url'] } , :method=>:post  %>
        <% if flash[:notice] %>
          <div class="notice"><%= flash[:notice] %></div>
          <% end %>
        <br/>
      <br/>
    </div>
    <% end %>
  <% end  %>
