<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= render 'layouts/navigation' %>


    <title><%= content_for?(:title) ? yield(:title) : "Discover" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">




  <div class= "large-12 medium-12 small-12">
    <p class="navbar-text pull-middle">

    <% if user_signed_in? %>
     <div class="nav_buttons">
      <%= link_to 'Home', homepage_index_path %> |
      <%= link_to 'Profile', user_path(current_user) %> |
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
    </div>
    <% else %>
      <div class="nav_buttons">
        <%= render 'layouts/footer' %>
      </div>
    <% end %>
  </div>



  <!-- <ul class="nav">
<li class="active"><a href="/ideas">Ideas</a></li>
</ul> -->

<!-- <% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert alert-danger"><%= alert %></p>
<% end %> -->


  <body>
    <%= yield %>
  </body>

</html>
